<header>
  <div class="header-left">
    <!-- Vidyo logo -->
    <div class="logo">
      <img src='assets/images/userlist-logo.png'>
    </div>
    <!-- Resource ID -->
    <div class="username">
      <span>Resource ID</span>{{vidyoClientService.meetingRoom}}</div>
    <!-- Total Participants present in meeting room -->
    <div class="username">
      <span>Total Participants</span>{{vidyoClientService.users.length}}</div>
    <!--Display name-->
    <div class="username">
      <span>Display Name</span>{{vidyoClientService.userName}}</div>
  </div>

  <div class="options">
    <!-- Settings -->
    <div class="settings">
      <a (click)="displaySetting()">
        <img src="assets/images/settings.png" title="Settings" tabindex="3" (keyup.enter)="displaySetting()" />
      </a>
    </div>
    <!--Logout-->
    <div class="logout">
      <a (click)="logout()">
        <img src="assets/images/logout.png" title="Logout" tabindex="4" (keyup.enter)="logout()" />
      </a>
    </div>
  </div>



</header>